Documentation
main_backup
mdeberta-intent-classification
sherpa_onnx
under_development
.env
download.py
main_onnx.py
recorded_audio.wav
recorded_audiooo.wav
recording_to_transcribe.wav
rekaman.wav
tes.py
try_whisper_turbo.py
wav2vec_try.py
nlp
.venv
venv
main.py
hailort.log
pyhailort.log
restore_class_methods.py
refactor_insert_check_speakers.py
hailo_save.py
hailo_main.py
hailo_main_clean.py
Draft/hailo_main_clean.py
docs
Draft/README_hailo_re.md
Draft/__pycache__
xlmroberta_base