Documentation
main_backup
mdeberta-intent-classification
natural_language_processing
sherpa_onnx
under_development
.env
download.py
main_onnx.py
recorded_audio.wav
recorded_audiooo.wav
recording_to_transcribe.wav
rekaman.wav
tes.py
try_whisper_turbo.py
wav2vec_try.py
nlp
.venv
main.py
hailort.log
pyhailort.log